* {
  margin: 0px;
  padding: 0px;
}

.main-container {
  position: relative;
  margin: auto;
  width: 75%;
  height: auto;
  height: 600px;
  background-color: darkslategrey;
  text-align: center;
}

.board {
  float: left;
  position: relative;
  margin: 10px;
  width: 480px;
  height: 480px;
}

.drop-box {
  float: left;
  position: relative;
  margin: 10px;
  margin-left: 0;
  /* width: 200px; */
  width: 25%;
  height: 480px;
  background-color: aqua;
}

.square {
	position: relative;
	float: left;
	color: white;
	width: 60px;
  height: 60px;
  z-index: 1;
}

.dark-square {
	background-color: #808080;
}

.light-square {
	background-color: #a0a0a0;
}

.glowing-border:hover {
  box-shadow: 0 0 10px #9ecaed inset;
}

.glowing-move-start { 
  box-shadow: 0 0 20px #edd89e inset;
}

.glowing-move-end { 
  box-shadow: 0 0 10px #73d65f inset;
}

.piece {
  position: relative;
  width: 60px;
  height: 60px;
  z-index: 2;
  background-size: cover;
  float: left;
}